

body {font-family: Verdana, sans-serif; margin:0}
img {vertical-align: middle;}

.slideshow-container {
  position: relative;
  width: 640px;
  height: 480px;
  left: -50px;
}


.SpecJM {
    position: relative;
    top: 0px;
    left: 0px;
    width: 135px;
    height: 80px;
    background: #ffffff08;
    display: inline-flex;
    margin: 1px;
    margin-top: 5px;
    border-radius: 7px;
    transition: 0.5s;
}

.SpecJM:hover {
    background: #0000008c;
    transition: 0.5s;
}

.SpecJMBase {
    position: absolute;
    top: 197px;
    left: 491px;
    width: 504px;
    height: 195px;
}

.iconspec {
    position: absolute;
    top: 29px;
    left: 12px;
}

.iconspecAN {
     transition: 0.5s;
}

.iconspecAN:hover {
     filter: drop-shadow(0px 0px 6px green);
     transition: 0.5s;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 10px;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgb(0 0 0 / 46%);
  color: white;
}

.text {
    background: #ffffff29;
    height: 75px;
    color: #d3d3d3;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    left: 385px;
    bottom: 8px;
    width: 450px;
    text-align: center;
    border-radius: 15px;
    filter: drop-shadow(2px 4px 6px black);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: -34px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}



.home {
    position: absolute;
    top: 9px;
    left: 337px;
    transition: 0.5s;
}

.samsung {
    position: absolute;
    top: 9px;
    left: 408px;
    transition: 0.5s;
}

.apple {
    position: absolute;
    top: 9px;
    left: 530px;
    transition: 0.5s;
}

.lg {
    position: absolute;
    top: -5px;
    left: 600px;
    transition: 0.5s;
}


.motorola {
    position: absolute;
    top: 7px;
    left: 715px;
    transition: 0.5s;
}

.nokia {
    position: absolute;
    top: 9px;
    left: 786px;
    transition: 0.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}






/* Animations */
@keyframes statFill {
	from {
		color: var(--fg);
	}
	to {
		color: hsl(var(--hue),66%,94%);
	}
}
@keyframes ringFill {
	from {
		r: 82px;
		stroke-width: 16;
	}
	to {
		r: 45px;
		stroke-width: 90;
	}
}
@keyframes stepCount {
	from {
		stroke-dashoffset: 515.22;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes cals {
	from {
		stroke-dashoffset: 163.36;
	}
	to {
		stroke-dashoffset: 12.25;
	}
}
@keyframes miles {
	from {
		stroke-dashoffset: 163.36;
	}
	to {
		stroke-dashoffset: 35.39;
	}
}
@keyframes mins {
	from {
		stroke-dashoffset: 163.36;
	}
	to {
		stroke-dashoffset: 65.34;
	}
}
@keyframes bpm {
	from {
		transform: scale(0);
	}
	37.5% {
		transform: scale(1.2);
	}
	75%,
	to {
		transform: scale(1);
	}
}
@keyframes stepHrs {
	from {
		stroke-dashoffset: 131.95;
	}
	to {
		stroke-dashoffset: 52.78;
	}
}
@keyframes pulse {
	from,
	75%,
	to {
		transform: scale(1);
	}
	25% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(1.2);
	}
}

@keyframes pulse2 {
	from,
	75%,
	to {
		transform: scale(1);
	}
	25% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.02);
	}
}












@keyframes LOADING {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes PULSING {
  0% {
    // opacity: 1;
    transform: scale(1);
  }
  50% {
    // opacity: 0.2;
    transform: scale(1.5);
  }
  100% {
    // opacity: 1;
    transform: scale(1);
  }
}
@keyframes ARRASTE_CIMA {
  0% {
    transform: translatey(0px);
    opacity: 1;
  }
  100% {
    transform: translatey(-25px);
    opacity: 0.2;
  }
}
@keyframes ARRASTE_BAIXO {
  0% {
    transform: translatey(0px);
    opacity: 1;
  }
  100% {
    transform: translatey(+25px);
    opacity: 0.2;
  }
}
@keyframes ARRASTE_ESQUERDA {
  0% {
    transform: translatex(0px);
    opacity: 1;
  }
  100% {
    transform: translatex(-25px);
    opacity: 0.2;
  }
}
@keyframes ARRASTE_DIREITA {
  0% {
    transform: translatex(0px);
    opacity: 1;
  }
  100% {
    transform: translatex(+25px);
    opacity: 0.2;
  }
} 